In [1]:
import camelot
import numpy as np
import pandas as pd

In [132]:
file = "Bank_Statements/icici4bs.pdf"

In [133]:
import pdfplumber

with pdfplumber.open(file) as pdf:
    
    total_pages = pdf.pages
total = len(total_pages)
total

2

In [134]:
tables = camelot.read_pdf(file,flavor='lattice',pages='1')
headers = tables[0].df
headers = headers.iloc[0]

In [135]:
def processing(data,i):
   
    if i==1:
        
        data  = pd.DataFrame(data.values[1:], columns=headers)
        data = data.drop(columns=['Chq.No.', 'Autosweep','Reverse\nSweep'])
    else:
        data = pd.DataFrame(data.values[:],columns=headers)
    data = data.replace(r'^\s*$', np.nan, regex=True)
    data['Deposits'] = data['Deposits'].str.replace(',', '').astype(float)
    data['Withdrawals'] = data['Withdrawals'].str.replace(',', '').astype(float)

    return data

In [136]:
df = pd.DataFrame()
for i in range(1,total+1):
    
    print(i)
    tables = camelot.read_pdf(file,flavor='lattice',pages=str(i))
    print(tables)
    if len(tables)!=0:
        
        df1 = processing(tables[0].df,i)

        df = pd.concat([df, df1])
df = df.fillna(0)
df = df[:-1]

1
<TableList n=1>
2
<TableList n=2>

In [137]:
df

,Date,Particulars,Withdrawals,Deposits,Balance(INR),Chq.No.,Autosweep,Reverse\nSweep
0,28-10-2018,B/F,0.0,0.0,"1,53,535.16 Cr",0.0,0,0
1,29-10-2018,ATM/CASH WDL/28-10-18/0,1000.0,0.0,"1,52,535.16 Cr",0.0,0,0
2,30-10-2018,ACH/INFOSYS LIMITED/16784584,0.0,560.0,"1,53,095.16 Cr",0.0,0,0
3,31-10-2018,ATM/CASH WDL/31-10-18/0,900.0,0.0,"1,52,195.16 Cr",0.0,0,0
4,31-10-2018,CMS/ SALARYFOROCT2018/HAPPIEST MINDS\nTECHNOLO...,0.0,173608.0,"3,25,803.16 Cr",0.0,0,0
...,...,...,...,...,...,...,...,...
38,23-01-2019,NEFT-KKBK190231144305-HAPPIEST MINDS TECHNOLOGIES,0.0,250722.0,"3,55,732.67 Cr",0.0,0,0
39,24-01-2019,BIL/ONL/001626162073/Equitas Ba/EQUITASETC_PIC...,507.5,0.0,"3,55,225.17 Cr",0.0,0,0
40,24-01-2019,MMT/IMPS/902418413367/SUNDAR RAJ to,500.0,0.0,"3,54,725.17 Cr",0.0,0,0
41,28-01-2019,MPS/SRI SAMPOOR/201901262031/007848/HOSUR,504.0,0.0,"3,54,221.17 Cr",0.0,0,0
42,28-01-2019,ACH/INFOSYS LIMITED/17834951,0.0,320.0,"3,54,541.17 Cr",0.0,0,0

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame